<div style="margin: auto; max-width: 700px;">
    <div>
        <form [formGroup]="messageForm" (ngSubmit)="saveMessage()" >
            <label>Введите сообщение:</label>
            <div>
                <input class="form-control" type="text" formControlName="text" style="width: 84%; display: inline;"
                    placeholder="Сообщение">
                    <button [disabled] = "!messageForm.valid" type="submit" class="btn btn-primary" style="margin-left: 5px; margin-bottom: 6px;"
                   >Отправить</button>
                <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger" style="width: 84%;">
                Введите корректное сообщение, состоящее из букв кириллицы
                </div>

                
            </div>
        </form>


    </div>
    <div style="margin-top: 10px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Текст</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let message of messages">
                    <td>{{message.text}}</td>
                    <td>{{message.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>